@import url('http://localhost/ManagerPatientPHP/Public/css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th {
    color: #676767;
}

td {
    color: #666;
}

.col-2 {
    width: 20%;
    margin-right: 2px;}

.col-1 {
    width: 10%;
    margin-right: 2px;}

.col-1-2 {
    width: 5%;
    margin-right: 2px;}

.col-1-4 {
    width: 2.5%;
    margin-right: 2px;;
}

.main {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 4.75px;
    margin: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.5px;
    align-items: start;
    margin-left: 13px;
}

.name__page {
    color: var(--text-color);
    font-size: 17.55px;
    font-weight: 600;
    margin-bottom: 7.5px;
}

.desc__page,
.btn--add {
    font-size: 12.35px;
    color: var(--text-color-sub);
    font-weight: 500;
}

.btn--add {
    width: 150px;
    height: 33px;
    background-color: #f5f8fa;
    text-align: center;
    line-height: 33px;
    border-radius: 4.75px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.btn--add:hover {
    background-color: var(--btn-color);
    color: #ffffff;
}

.container__header {
    display: flex;
    justify-content: space-between;
    height: 43px;
    margin-bottom: 30px;
}

.main-functions,
.search,
.btn {
    height: 100%;
}

.btn--pdf,
.btn--excel {
    background-color: #e4e6ef;
}

.main-functions {
    display: flex;
    border-radius: 4.75px;
    overflow: hidden;
}

.btn {
    flex: 1;
    cursor: pointer;
    width: 74px;
    border: none;
    /* background-color: #e4e6ef; */
    transition: all 0.3s;
}

.btn span {
    color: #3f4254;
    font-weight: 600;
    font-size: 14px;
}

.search__label,
.btn span {
    font-size: 14px;
}

.search__label,
.search__input {
    height: 35px;
    line-height: 35px;
    color: var(--text-color);
}

.search__input {
    background-color: #e4e6ef;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 4.75px;
}

.search__input::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: #888888b5;
}

.btnSearch {
    height: 35px;
    border-radius: 4.75px;
    border: none;
    background-color: #e4e6ef;
    padding: 0 5px;
}

.namebenhnhan {
    border: none;
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    font-size: 16px;
    height: 40.5px;
    line-height: 40.5px;
    padding: 9.75px 0px;
    border-radius: 4.75px;
}